<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>中国合伙人</string>
		<key>lcon</key>
		<string>novel zoww</string>
		<key>title</key>
		<string>励志电影</string>
		<key>options</key>
		<array>
			<string>线</string>
			<string>话</string>
			<string>你</string>
			<string>人</string>
			<string>笑</string>
			<string>越</string>
			<string>黄</string>
			<string>伙</string>
			<string>打</string>
			<string>小</string>
			<string>国</string>
			<string>特</string>
			<string>中</string>
			<string>鸿</string>
			<string>猫</string>
			<string>楼</string>
			<string>光</string>
			<string>合</string>
			<string>你</string>
			<string>吗</string>
			<string>建</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>不堪一击</string>
		<key>lcon</key>
		<string>gi</string>
		<key>title</key>
		<string>供给依然保持</string>
		<key>options</key>
		<array>
			<string>线</string>
			<string>话</string>
			<string>你</string>
			<string>人</string>
			<string>笑</string>
			<string>堪</string>
			<string>黄</string>
			<string>伙</string>
			<string>打</string>
			<string>小</string>
			<string>国</string>
			<string>就</string>
			<string>不</string>
			<string>中</string>
			<string>鸿</string>
			<string>猫</string>
			<string>一</string>
			<string>光</string>
			<string>合</string>
			<string>你</string>
			<string>击</string>
			<string>建</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>能够解决</string>
		<key>lcon</key>
		<string>11</string>
		<key>title</key>
		<string>励志电影</string>
		<key>options</key>
		<array>
			<string>线</string>
			<string>话</string>
			<string>你</string>
			<string>人</string>
			<string>笑</string>
			<string>越</string>
			<string>能</string>
			<string>伙</string>
			<string>打</string>
			<string>小</string>
			<string>国</string>
			<string>够</string>
			<string>中</string>
			<string>鸿</string>
			<string>解</string>
			<string>楼</string>
			<string>光</string>
			<string>合</string>
			<string>你</string>
			<string>决</string>
			<string>建</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>合不合法</string>
		<key>lcon</key>
		<string>12</string>
		<key>title</key>
		<string>励志电影</string>
		<key>options</key>
		<array>
			<string>线</string>
			<string>话</string>
			<string>合</string>
			<string>人</string>
			<string>笑</string>
			<string>越</string>
			<string>黄</string>
			<string>不</string>
			<string>打</string>
			<string>小</string>
			<string>国</string>
			<string>特</string>
			<string>中</string>
			<string>鸿</string>
			<string>合</string>
			<string>楼</string>
			<string>光</string>
			<string>合</string>
			<string>你</string>
			<string>法</string>
			<string>建</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>交话费卡</string>
		<key>lcon</key>
		<string>13</string>
		<key>title</key>
		<string>励志电影</string>
		<key>options</key>
		<array>
			<string>交</string>
			<string>话</string>
			<string>你</string>
			<string>人</string>
			<string>笑</string>
			<string>话</string>
			<string>黄</string>
			<string>伙</string>
			<string>打</string>
			<string>小</string>
			<string>费</string>
			<string>特</string>
			<string>中</string>
			<string>鸿</string>
			<string>猫</string>
			<string>楼</string>
			<string>卡</string>
			<string>合</string>
			<string>你</string>
			<string>吗</string>
			<string>建</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>分解内</string>
		<key>lcon</key>
		<string>14</string>
		<key>title</key>
		<string>励志电影</string>
		<key>options</key>
		<array>
			<string>线</string>
			<string>分</string>
			<string>你</string>
			<string>人</string>
			<string>笑</string>
			<string>越</string>
			<string>解</string>
			<string>伙</string>
			<string>打</string>
			<string>小</string>
			<string>国</string>
			<string>特</string>
			<string>中</string>
			<string>内</string>
			<string>猫</string>
			<string>楼</string>
			<string>光</string>
			<string>合</string>
			<string>你</string>
			<string>吗</string>
			<string>建</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>进发货</string>
		<key>lcon</key>
		<string>15</string>
		<key>title</key>
		<string>励志电影</string>
		<key>options</key>
		<array>
			<string>线</string>
			<string>进 </string>
			<string>你</string>
			<string>人</string>
			<string>笑</string>
			<string>越</string>
			<string>黄</string>
			<string>伙</string>
			<string>打</string>
			<string>发</string>
			<string>国</string>
			<string>特</string>
			<string>中</string>
			<string>鸿</string>
			<string>猫</string>
			<string>楼</string>
			<string>货</string>
			<string>合</string>
			<string>你</string>
			<string>吗</string>
			<string>建</string>
		</array>
	</dict>
</array>
</plist>
